{% extends "base.html" %}

{% block title %}Answer Details - STAR Master{% endblock %}
{% block description %}View your complete STAR method answer. Review your interview response structure and practice your delivery.{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
  <div class="max-w-4xl mx-auto">
    {% include "answers/components/header.html" %}
    {% include "answers/components/question_context_card.html" %}
    {% include "answers/components/answer_card.html" %}
  </div>
</div>
{% endblock %}
