django>=5.2,<5.3
gunicorn>=23,<24
dj-database-url>=3,<4
whitenoise>=6,<7
django-allauth>=0.57,<1.0
django-browser-reload
django-tailwind
django-debug-toolbar

# Testing
pytest>=8,<9
pytest-django>=4.8,<5
pytest-xdist>=3,<4  # Run tests in parallel for speed

# Uncomment to use a Postgres database.
psycopg[binary]
